{% extends 'base.html' %}

{% block title %}Delete Status{% endblock %}

{% block menu %}
    <li><a href="{% url 'detail_view' choice.pk %}">Проект</a></li>
{% endblock %}

{% block content %}
    <h1>Вы действительно хотите удалить?"{{ choice}}"?</h1>
    <form method="POST" action="{% url 'choice_delete' choice.pk %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Удалить" class="myButton"></p>
        <p><a href="{% url 'choice_view' %}" class="myButtons">Отменить</a></p>
    </form>
{% endblock %}